body {
  padding: 100px;
  font-family: "Funnel Display", serif;
}

p {
  margin-top: 0;
}

.price {
  color: black;
  font-weight: 900;
  font-size: 1.2rem;
}

.item {
  position: relative;
  width: 30%;
  background: #4bf4de;
  border-radius: 10px;
  padding: 10px;
}

.favorite {
  position: absolute;
  top: 25px;
  right: 25px;
}

.heart {
  font-size: 25px;
  color: #fff;
  transition: ease 0.2s all;
}

.heart.red {
  color: rgb(209, 7, 7);
}

.heart:hover {
  /* color: #000; */
  transform: scale(1.3);
  cursor: pointer;
}

.infos {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.rupture{
  color: red;
  border: 1px solid red;
  padding: 10px 15px;
  background-color: #d1d1d1;
}

img {
  width: 200px;
}

.spec {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  margin-left: 10px;
}

.btns {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

button {
  padding: 8px 20px;
  border-radius: 5px;
  border: 2px solid #000;
  background: white;
  transition: ease 0.2s all;
}

button:hover {
  background: #000;
  color: #fff;
}
